.meteor/local
.meteor/meteorite
*.pdb
*.suo
packages/
Avalon.Access/bin/
Avalon.Access/obj/
Avalon.Cache/bin/
Avalon.Cache/obj/
Avalon.Framework/bin/
Avalon.Framework/obj/
Avalon.HttpClient/bin/
Avalon.HttpClient/obj/
Avalon.OAuth/bin/
Avalon.OAuth/obj/
Avalon.OAuthClient/bin/
Avalon.OAuthClient/obj/
Avalon.Profiler/bin/
Avalon.Profiler/obj/
Avalon.Purview/bin/
Avalon.Purview/obj/
Avalon.Repository/bin/
Avalon.Repository/obj/
Avalon.Repository.OAuth/bin/
Avalon.Repository.OAuth/obj/
Avalon.UCenter/bin/
Avalon.UCenter/obj/
Avalon.Utility/bin/
Avalon.Utility/obj/
Avalon.WebUtility/bin/
Avalon.WebUtility/obj/
Avalon.CloudClient/bin/
Avalon.CloudClient/obj/Debug/Avalon.CloudClient.csproj.FileListAbsolute.txt
Avalon.CloudClient/obj/Debug/Avalon.CloudClient.dll
Avalon.UserCenter.Models/bin/Debug/Antlr3.Runtime.dll
Avalon.UserCenter.Models/bin/Debug/Avalon.Cache.dll
Avalon.UserCenter.Models/bin/
Avalon.UserCenter/bin/
Avalon.CloudClient/obj/
Avalon.UserCenter.Models/obj/
Avalon.UserCenter/obj/
Avalon.Repository.UserCenter/bin/
Avalon.Repository.UserCenter/obj/
