<?xml version="1.0" encoding="utf-8" ?>
<!-- Change the values of Key, Vector and IV64 bytes for each web app deployment like QA, Release --> 
<cryptographyManagerSection xmlns="urn:Nd.Web.Security.Cryptography" cryptographyKey="12345678" cryptographyVector="12345678">
    <iV64 byte1="16" byte2="72" byte3="94" byte4="38" byte5="44" byte6="79" byte7="13" byte8="93"/>
</cryptographyManagerSection>