<?xml version="1.0"?>
<configuration>
    <!--Nd.Web.Security.Cryptography-->
    <configSections>
        <section name="cryptographyManagerSection" type="Nd.Web.Security.Cryptography.Configuration.CryptographyManagerSection, Avalon.Security.Cryptography"/>
    </configSections>
    <cryptographyManagerSection configSource="App_Config\Cryptography.config"/>
    <!--END-->
</configuration>